datasets
textdiversity
sibyl-tool
evaluate
language_tool_python
hydra-core
cleanlab

# python -m spacy download en_core_web_sm
# pip install git+https://github.com/boudinfl/pke.git
# python -c "from textdiversity import AMR; AMR()"